/* CSS propias del grupo naranja */

/* 

   Using palette Cheer up emo kid from
   Colour Lovers for identifying each
   Naranja's member contribution:
   https://www.colourlovers.com/palette/1930/cheer_up_emo_kid

*/

Adela {
    color: #556270;
}
Daniel {
    color: #4ecdc4;
}
Diems {
    color: #C7F464;
}
Jorge {
    color: #FF6B6B;
}
Rebeca {
    color: #C44D58;
}
