/* CSS propias del grupo naranja */

body {
    width: 85%;
    margin-left: 1rem;
}
h1.titulo {
    margin-top: 2rem;
    color: orange;
}
.Adela {
    color: #E23D75;
}
.Daniel {
    color: #4ecdc4;
}
.Diems {
    color: #C7F464;
}
.Jorge {
    color: #742365;
}
.Rebeca {
    color: #7AB317;
}
