/* CSS propias del grupo naranja */

/* 

   Using palette Cheer up emo kid from
   Colour Lovers for identifying each
   Naranja's member contribution:
   https://www.colourlovers.com/palette/1930/cheer_up_emo_kid

*/

.Adela {
    color: #E23D75;
}
.Daniel {
    color: #4ecdc4;
}
.Diems {
    color: #C7F464;
}
.Jorge {
    color: #742365;
}
.Rebeca {
    color: #7AB317;
}
